*{
    margin: 0%;
    padding: 0%;
}
.but{
   position: relative;
   float: left;
   margin-top: 3%;
}
.error{
    color: red;
    margin-left: 30%;
}
footer{
    background-color: #494d4b;
    text-align: center;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}
.footcon{
    color: white;
    margin-top: 1%;
}
.footp{
    color: #abb3b0;
}