*{
    margin: 0%;
    padding: 0%;
}
.dcarousel{
    margin-left: 5%;
}

.but{
   position: relative;
   float: left;
   margin-top: 3%;
}
footer{
    background-color: #423d3c;
    height: auto;
    padding-top: 2%;
    padding-bottom: 1%;
}
.footcon{
    color: white;
    text-align: center;
}